# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Production build outputs
dist/
dist-ssr/
build/

# Environment variables
.env
.env.*.local

# OS-specific junk
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Optional npm cache directory
.npm

# Local env files
.local

# Coverage reports
coverage/

# Debugger history files
.nyc_output/
debug.log
yarn-error.log

# Parcel-bundler cache
.cache/

# ESLint cache
.eslintcache

# React Native
.expo/
*.expo

# Storybook build
.out/

# Typescript cache
*.tsbuildinfo

# Mac system files
.AppleDouble
.LSOverride

# Windows system files
Desktop.ini

# Next.js
.next/

# TurboRepo
turbo/

# SvelteKit
.svelte-kit/

# Astro
.astro/

# Playwright
test-results/
playwright-report/

# Firebase
.firebase/

# Docker
docker-compose.override.yml
